@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Patrick+Hand&family=Sono:wght@400;500&display=swap');

.FallBGFull {
    background-color: #d4ad65;
}

.FallBGPartial {
    background-color: #d4ad65bd;
}

.WinterBGFull {
    background-color: #97cdd5;
}

.WinterBGPartial {
    background-color: #97cdd5bd;
}
.SpringBGFull {
    background-color: #bfd272;
}

.SpringBGPartial {
    background-color: #bfd272bd;
}
.SummerBGFull {
    background-color: #ddd671;
}

.SummerBGPartial {
    background-color: #ddd671bd;
}
.YearRoundBGFull {
    background-color: #9675B4;
}

.YearRoundBGPartial {
    background-color: #9675B4bd;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.MainCraft {
    height: 650px;
    width: 100%;
}

.CraftInfo{
    width: 60%;
    height: 700px;
    margin: 0 auto;
    border-radius: 20px;
}

.CraftImage{
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 50%;
    right: 370px;
}

.CraftImage img {
    position: relative;
    height: 100%;
    left: -50%;
}

.Details {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    width: 300px;
    margin: 0 50%;
    top: -450px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

.Crafts {
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.Craft {
    border-radius: 20px;
    overflow: hidden;
}

.Craft img {
    width: 100%;
}

.Craft-Details {
    text-align: center;
}

.InfoText {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.Info {
    position: relative;
}

@media(max-width: 1200px) {
    .InfoText {
        font-size: 30px;
        padding-top: 30px;
    }
    h1 {
        font-size: 50px;
        padding-top: 50px;
    }
    .CraftInfo{
        width: 60%;
        height: 700px;
        padding: 50px;
        margin: 0 auto;
        border-radius: 20px;
    }
    .CraftImage{
        position: relative;
        width: 400px;
        height: 500px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 50%;
        right: 370px;
    }
    .Details {
        position: relative;
        border-radius: 10px;
        padding: 20px;
        height: 400px;
        width: 300px;
        margin: 0 50%;
        top: -450px;
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    .InfoText {
        font-size: 25px;
        padding-top: 25px;
    }
    h1 {
        font-size: 45px;
        padding-top: 45px;
    }
    .CraftInfo{
        width: 60%;
        height: 600px;
        padding: 50px;
        margin: 0 auto;
        border-radius: 20px;
    }
    .CraftImage{
        position: relative;
        width: 360px;
        height: 450px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 50%;
        right: 330px;
    }
    .Details {
        position: relative;
        border-radius: 10px;
        padding: 20px;
        height: 360px;
        width: 270px;
        margin: 0 50%;
        top: -405px;
        font-family: 'Patrick Hand', cursive;
        font-size: 18px;
    }
}
@media(max-width: 800px) {
    .InfoText {
        font-size: 20px;
        padding-top: 20px;
    }
    h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    .CraftInfo{
        width: 60%;
        height: 500px;
        padding: 30px;
        margin: 0 auto;
        border-radius: 20px;
    }
    .CraftImage{
        position: relative;
        width: 320px;
        height: 400px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 50%;
        right: 290px;
    }
    .Details {
        position: relative;
        border-radius: 10px;
        padding: 20px;
        height: 320px;
        width: 240px;
        margin: 0 50%;
        top: -360px;
        font-family: 'Patrick Hand', cursive;
        font-size: 16px;
    }
}

@media(max-width: 700px) {
    .InfoText {
        font-size: 15px;
        padding-top: 15px;
    }
    h1 {
        font-size: 35px;
        padding-top: 35px;
    }
    .CraftInfo{
        width: 60%;
        height: 400px;
        padding: 20px;
        margin: 0 auto;
        border-radius: 20px;
    }
    .CraftImage{
        position: relative;
        width: 280px;
        height: 350px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 50%;
        right: 250px;
    }
    .Details {
        position: relative;
        border-radius: 10px;
        padding: 20px;
        height: 280px;
        width: 210px;
        margin: 0 50%;
        top: -316px;
        font-family: 'Patrick Hand', cursive;
        font-size: 14px;
    }
}
@media(max-width: 650px) {
    .InfoText {
        font-size: 15px;
        padding-top: 15px;
    }
    h1 {
        font-size: 35px;
        padding-top: 35px;
    }
    .CraftInfo{
        width: 60%;
        height: 300px;
        padding: 10px;
        margin: 0 auto;
        border-radius: 20px;
    }
    .CraftImage{
        position: relative;
        width: 240px;
        height: 300px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 50%;
        right: 210px;
    }
    .Details {
        position: relative;
        border-radius: 10px;
        padding: 10px;
        height: 240px;
        width: 180px;
        margin: 0 50%;
        top: -272px;
        font-family: 'Patrick Hand', cursive;
        font-size: 12px;
    }
    .Info {
        position: relative;
        top: -250px;
    }
    .Gallery{
        position: relative;
        top: -250px;
    }
}