@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    font-family: 'handlee';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

li, button {
    font-size: 150%;
    color: #faebd7;
}

header {
    display: flex;
    align-items: center;
    background-color: #37401b;
    width: 100%;
}

.Home {
    height: 100px;
    position: relative;
    left: 15px;
}

.Home:hover {
    cursor: pointer;
}

.Links {
    position: relative;
    margin: 0 auto;
    left: -50px;
}

.nav__links {
    list-style: none;
    background-color: #faebd7;
}

.nav__links button {
    display: inline-block;
    border-left: solid;
    border-right: solid;
    border-bottom: none;
    border-top: none;
    border-color: #faebd7;
    border-width: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 120px;
    width: 110px;
    background-color: #37401b;
}

.nav__links button:hover {
    color: black;
    transition: all .75s ease 0s;
    cursor: pointer;
}

.Fall:hover {
    background-color: #d4ad65;
}
.Winter:hover {
    background-color: #97cdd5;
}
.All:hover {
    background-color: #9675B4;
}
.Spring:hover {
    background-color: #bfd272;
}
.Summer:hover {
    background-color: #ddd671;
}

.about {
    padding: 9px 25px;
    background-color: #9675B4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
}

.about-link {
    position: absolute;
    right: 15px;
}

.about:hover {
    background-color: #9675b47c;
}

/* ... (Your existing styles) */

/* Mobile Menu Styles */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #37401b;
    position: absolute;
    max-width: 300px;
    width: 100%;
    z-index: 10;
}

.mobile-menu a {
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #faebd7;
}

.mobile-menu a button{
    background-color: #37401b;
    border: none;
    height: 50px;
    width: 100%;
}

/* Hamburger menu icon styles */
.mobile-menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #faebd7;
    position: absolute;
    left: 50%;
}

.Small {
    display: none;
}

@media (max-width: 990px) {
    /* Hide regular navigation on smaller screens */
    .nav__links {
        display: none;
    }

    /* Show hamburger menu icon on smaller screens */
    .mobile-menu-icon {
        display: block;
    }

    /* Show mobile menu on smaller screens */
    .mobile-menu.show {
        display: flex;
    }
}

@media (max-width: 786px) {
    /* Hide regular navigation on smaller screens */
    .Large {
        display: none;
    }

    /* Show hamburger menu icon on smaller screens */
    .Small {
        display: block;
    }
}